.resume-info {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: flex-start;
  &.with-avatar {
    height: 130px;
    align-items: center;
    .name {
      margin-bottom: 20px;
    }
  }
  &__title {
    width: 0;
    flex: 1;
    .name {
      font-size: 60px;
      font-weight: 700;
      color: #303133;
      margin-bottom: 15px;
    }
    .offer {
      font-size: 18px;
      font-weight: 400;
      color: #606266;
    }
  }
}

.resume-basic {
  display: flex;
  flex-wrap: wrap;
  &-item {
    flex-basis: calc(50%);
    margin-bottom: 10px;
    display: flex;
    font-size: 14px;
    align-items: flex-end;
    .label {
      flex-shrink: 0;
      &:after {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1px;
        background: #515a6e;
        transform: rotate(110deg) translateX(-5px);
        margin-right: 5px;
      }
    }
    .value {
      flex: 1;
      font-size: 16px;
    }
  }
}

.work-exp {
  &-item {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    break-inside: avoid;
    .work-status {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .company-name {
        color: var(--tzr-primary-color);
        font-weight: 700;
        font-size: 18px;
        &:after {
          content: "";
          display: inline-block;
          width: 20px;
          height: 2px;
          background: #e6e7eb;
          transform: rotate(110deg) translateX(-6px);
          margin: 0 5px;
        }
      }
      .working-time {
        font-size: 14px;
      }
    }
    .work-desc {
      border-radius: 5px;
      border: 2px dashed var(--tzr-border-color);
      padding: 10px;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 20px;
    }
    .work-projects {
      .project-info {
        display: flex;
        &__name {
          margin-right: auto;
        }
        &__role,
        &__duration {
          font-size: 14px;
          font-style: italic;
          font-weight: 400;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
          &::first-letter {
            font-style: normal;
          }
        }
      }
    }
  }
}

.personal-pjkt {
  .pjkt-item {
    margin-bottom: 20px;
    break-inside: avoid;
    .pjkt-name {
      color: var(--tzr-primary-color);
      font-weight: 700;
      font-size: 18px;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}

.skills-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .skill-card {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    padding: 15px;

    // border: 1px solid #DCDFE6;
    // border-radius: 8px;

    @include common-box;
    &:nth-child(odd):last-child {
      flex-basis: 100% !important;
      margin-bottom: 0 !important;
    }
    .skill-info {
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
      &__name {
        font-size: 22px;
        font-weight: 700;
        margin-right: 5px;
        // color: #606266;
        color: var(--tzr-primary-color);
      }
      &__comment {
        font-size: 16px;
        font-weight: 300;
        color: #909399;
      }
    }
  }
}
